<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<BUTTERFLY>

	<MAPCONFIG>
		<SHOW_TOPO>TRUE</SHOW_TOPO>
		<SHOW_OLC>TRUE</SHOW_OLC>
		<SHOW_FAI>FALSE</SHOW_FAI>
		<SHOW_WINDARROW>TRUE</SHOW_WINDARROW>
		<SHOW_LIVEWINDARROW>TRUE</SHOW_LIVEWINDARROW>
		<SHOW_TRAFFIC>TRUE</SHOW_TRAFFIC>
		<SHOW_UNDIRECTED_TRAFFIC>TRUE</SHOW_UNDIRECTED_TRAFFIC>
		<SHOW_TRAFFIC_ALERTS>TRUE</SHOW_TRAFFIC_ALERTS>
		<SHOW_HSI>FALSE</SHOW_HSI>
		<SHOW_COURSE_ARC>FALSE</SHOW_COURSE_ARC>
		<SHOW_POI>TRUE</SHOW_POI>
		<TRACKUP>FALSE</TRACKUP>
		<TRACKLENGTH_SEC>2400</TRACKLENGTH_SEC>
		<LEADERLINE_SEC>0</LEADERLINE_SEC>
		<FARZOOM UNIT="KM">45.000</FARZOOM>
		<CLOSEZOOM UNIT="KM">10.000</CLOSEZOOM>
		<AIRSPACES_MAX_SCALE UNIT="KM">370.4</AIRSPACES_MAX_SCALE>
		<AIRPORTS_MAX_SCALE UNIT="KM">277.8</AIRPORTS_MAX_SCALE>
		<LARGE_AIRPORTS_MAX_SCALE UNIT="KM">74.1</LARGE_AIRPORTS_MAX_SCALE>
		<NAVAIDS_MAX_SCALE UNIT="KM">277.8</NAVAIDS_MAX_SCALE>
		<LARGE_NAVAIDS_MAX_SCALE UNIT="KM">74.1</LARGE_NAVAIDS_MAX_SCALE>
		<TRACKLINE_MAX_SCALE UNIT="KM">370.4</TRACKLINE_MAX_SCALE>
		<OLC_LINE_MAX_SCALE UNIT="KM">370.4</OLC_LINE_MAX_SCALE>
		<ROUTE_MAX_SCALE UNIT="KM">1111.2</ROUTE_MAX_SCALE>
		<CIRCLING_ZOOM UNIT="KM">1.000</CIRCLING_ZOOM>
		<CIRCLING_AUTOZOOM>TRUE</CIRCLING_AUTOZOOM>
		<CIRCLING_FORCE_TRACKUP>FALSE</CIRCLING_FORCE_TRACKUP>
		<CIRCLING_FORCE_NORTHUP>TRUE</CIRCLING_FORCE_NORTHUP>
		<AIRCRAFTSYMBOL_SCALE>1.0</AIRCRAFTSYMBOL_SCALE>
		<AIRCRAFTSYMBOL>AIRCRAFT</AIRCRAFTSYMBOL>
		<AUTOSHOW_APPROACH_CHARTS>FALSE</AUTOSHOW_APPROACH_CHARTS>
		<SHOW_ZOOMBUTTONS>FALSE</SHOW_ZOOMBUTTONS>
		<TRAFFICLABEL>
			<BACKGROUND>FALSE</BACKGROUND>
			<THRESHOLD>30.0</THRESHOLD>
			<SCALE_WITH_ICON>TRUE</SCALE_WITH_ICON>
			<DRAW_CALLSIGN>TRUE</DRAW_CALLSIGN>
			<DRAW_ALTITUDE>TRUE</DRAW_ALTITUDE>
		</TRAFFICLABEL>
		<TRAFFIC_ICON>
			<DEFAULT_SCALE>0.8</DEFAULT_SCALE>
			<TAIL_LENGTH_SECONDS>0</TAIL_LENGTH_SECONDS>
			<TAIL_WIDTH>3</TAIL_WIDTH>
		</TRAFFIC_ICON>
		<APTLABEL TYPE="INTL_APT">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="APT">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="AD_MIL">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="AF_MIL_CIVIL">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="AF_CIVIL">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="AD_CLOSED">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="AF_WATER">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="HELI_CIVIL">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="HELI_MIL">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="HELI_AMBULANCE">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="GLIDING">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="LIGHT_AIRCRAFT">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="HANGGLIDER">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="DROPZONE">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="BALLOON">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="LDG_FIELD">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<APTLABEL TYPE="HANGGLIDER_LDG_FIELD">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</APTLABEL>
		<DRAW_APT_IDS>TRUE</DRAW_APT_IDS>
		<WPTLABEL TYPE="OTH">
			<BACKGROUND>TRUE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="VOR">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>FALSE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="DME">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>FALSE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="VORDME">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>FALSE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="VORTAC">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>FALSE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="NDB">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>FALSE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="CRP">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>FALSE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>30.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>18.0</THRESHOLD_BIG>
		</WPTLABEL>
		<WPTLABEL TYPE="HOTSPOT">
			<BACKGROUND>FALSE</BACKGROUND>
			<SHOW_ARRIVAL_ALT>TRUE</SHOW_ARRIVAL_ALT>
			<THRESHOLD_SMALL>8.0</THRESHOLD_SMALL>
			<THRESHOLD_BIG>3.0</THRESHOLD_BIG>
		</WPTLABEL>
		<DRAW_WPT_IDS>FALSE</DRAW_WPT_IDS>
		<SHOW_ICAOMAP>FALSE</SHOW_ICAOMAP>
		<SHOW_AERONAUTIC_DATA_ON_ICAO>FALSE</SHOW_AERONAUTIC_DATA_ON_ICAO>
	</MAPCONFIG>

	<DATAFILTER TYPE="WPT">
		<DATAFILTER TYPE="NAVAID">
			<ENABLE>OTH</ENABLE>
			<DISABLE>VOR</DISABLE>
			<DISABLE>DME</DISABLE>
			<DISABLE>VORDME</DISABLE>
			<DISABLE>VORTAC</DISABLE>
			<DISABLE>NDB</DISABLE>
			<DISABLE>CRP</DISABLE>
			<ENABLE>HOTSPOT</ENABLE>
		</DATAFILTER>
		<DATAFILTER TYPE="APT">
			<ENABLE>INTL_APT</ENABLE>
			<ENABLE>APT</ENABLE>
			<ENABLE>AD_MIL</ENABLE>
			<ENABLE>AF_MIL_CIVIL</ENABLE>
			<ENABLE>AF_CIVIL</ENABLE>
			<ENABLE>AD_CLOSED</ENABLE>
			<ENABLE>AF_WATER</ENABLE>
			<DISABLE>HELI_CIVIL</DISABLE>
			<DISABLE>HELI_MIL</DISABLE>
			<DISABLE>HELI_AMBULANCE</DISABLE>
			<ENABLE>GLIDING</ENABLE>
			<ENABLE>LIGHT_AIRCRAFT</ENABLE>
			<ENABLE>HANGGLIDER</ENABLE>
			<ENABLE>DROPZONE</ENABLE>
			<ENABLE>BALLOON</ENABLE>
			<ENABLE>LDG_FIELD</ENABLE>
			<ENABLE>HANGGLIDER_LDG_FIELD</ENABLE>
		</DATAFILTER>
	</DATAFILTER>

	<DATAFILTER TYPE="ASP">
		<ENABLE>OTH</ENABLE>
		<ENABLE>A</ENABLE>
		<ENABLE>B</ENABLE>
		<ENABLE>C</ENABLE>
		<ENABLE>D</ENABLE>
		<DISABLE>E</DISABLE>
		<ENABLE>F</ENABLE>
		<DISABLE>G</DISABLE>
		<ENABLE>RESTRICTED</ENABLE>
		<ENABLE>DANGER</ENABLE>
		<ENABLE>CTR</ENABLE>
		<ENABLE>GLIDING</ENABLE>
		<ENABLE>WAVE</ENABLE>
		<ENABLE>TMZ</ENABLE>
		<ENABLE>RMZ</ENABLE>
		<ENABLE>TMA</ENABLE>
		<DISABLE>FIR</DISABLE>
		<ENABLE>DROPZONE</ENABLE>
	</DATAFILTER>

	<AIRSPACE_WARNING>
		<WARNING_DISMISS_SECONDS>120.0</WARNING_DISMISS_SECONDS>
		<DATAFILTER TYPE="ASP">
			<ENABLE>OTH</ENABLE>
			<ENABLE>A</ENABLE>
			<ENABLE>B</ENABLE>
			<ENABLE>C</ENABLE>
			<ENABLE>D</ENABLE>
			<DISABLE>E</DISABLE>
			<DISABLE>F</DISABLE>
			<DISABLE>G</DISABLE>
			<ENABLE>RESTRICTED</ENABLE>
			<ENABLE>DANGER</ENABLE>
			<ENABLE>CTR</ENABLE>
			<DISABLE>GLIDING</DISABLE>
			<DISABLE>WAVE</DISABLE>
			<ENABLE>TMZ</ENABLE>
			<ENABLE>RMZ</ENABLE>
			<ENABLE>TMA</ENABLE>
			<DISABLE>FIR</DISABLE>
			<DISABLE>DROPZONE</DISABLE>
		</DATAFILTER>
	</AIRSPACE_WARNING>

	<DATAFILTER_MAXDIST UNIT="KM">2500</DATAFILTER_MAXDIST>

	<DATASYNC>
		<ENABLE>TRUE</ENABLE>
	</DATASYNC>
	<OPENAIPLIVESYNC>
		<ENABLE>FALSE</ENABLE>
	</OPENAIPLIVESYNC>
	<TRACKING_TRAFFIC>
		<ENABLE>FALSE</ENABLE>
	</TRACKING_TRAFFIC>
	<TRACKING_PRIVACY>0</TRACKING_PRIVACY>
	<TRACKING_VEHICLE>3</TRACKING_VEHICLE>
	<TRACKING_INTERVAL_SEC>4.0</TRACKING_INTERVAL_SEC>

	<LOGGER>
		<IGC_LOGGER ENABLE="TRUE">
			<INTERVALL>2</INTERVALL>
		</IGC_LOGGER>
		<KML_LOGGER ENABLE="FALSE"/>
		<RAW_LOGGER ENABLE="FALSE"/>
	</LOGGER>

	<CONNECTIONS>
		<SIMULATOR_ENABLE>FALSE</SIMULATOR_ENABLE>
		<FLYTECSENSOR_ENABLE>FALSE</FLYTECSENSOR_ENABLE>
		<BLUETOOTH_NMEA_ENABLE>FALSE</BLUETOOTH_NMEA_ENABLE>
		<BLUETOOTH_NMEA_USEWIND>TRUE</BLUETOOTH_NMEA_USEWIND>
		<BLUETOOTH_NMEA_INVERTWIND>FALSE</BLUETOOTH_NMEA_INVERTWIND>
		<BLUETOOTH_NMEA_USECLIMBRATE>TRUE</BLUETOOTH_NMEA_USECLIMBRATE>
		<BLUETOOTH_NMEA_USEPRESSUREALT>TRUE</BLUETOOTH_NMEA_USEPRESSUREALT>
		<BLUETOOTH_NMEA_PRESSUREALTISQNH>FALSE</BLUETOOTH_NMEA_PRESSUREALTISQNH>
		<WIFI_PASSWORD>SIMULATOR</WIFI_PASSWORD>
		<WIFI_ENABLE>FALSE</WIFI_ENABLE>
		<BUTTERFLY_VARIO_ENABLE>FALSE</BUTTERFLY_VARIO_ENABLE>
		<WIFI_HOST>192.168.1.132</WIFI_HOST>
		<WIFI_PORT>2000</WIFI_PORT>
		<WIFI_USEWIND>TRUE</WIFI_USEWIND>
		<WIFI_INVERTWIND>FALSE</WIFI_INVERTWIND>
		<WIFI_USELIVEWIND>FALSE</WIFI_USELIVEWIND>
		<WIFI_USECLIMBRATE>TRUE</WIFI_USECLIMBRATE>
		<WIFI_USEPRESSUREALT>TRUE</WIFI_USEPRESSUREALT>
		<WIFI_PRESSUREALTISQNH>TRUE</WIFI_PRESSUREALTISQNH>
	</CONNECTIONS>

	<AUDIO ENABLED="TRUE">
		<AUDIO_ASP_ENABLED>TRUE</AUDIO_ASP_ENABLED>
		<AUDIO_TRAFFIC_ENABLED>TRUE</AUDIO_TRAFFIC_ENABLED>
		<VARIO_AUDIO_ENABLED>TRUE</VARIO_AUDIO_ENABLED>
		<VARIO_AUDIO_DEADBAND_CM>10</VARIO_AUDIO_DEADBAND_CM>
		<VARIO_AUDIO_THRESHOLD UNIT="MPS">-1.0</VARIO_AUDIO_THRESHOLD>
	</AUDIO>

	<UNITS>
		<DISTANCE>KM</DISTANCE>
		<SHORT_DISTANCE>F</SHORT_DISTANCE>
		<ALTITUDE>F</ALTITUDE>
		<SPEED>KT</SPEED>
		<CLIMBRATE>KT</CLIMBRATE>
		<BALLAST>LBS</BALLAST>
		<FUEL>GALLON</FUEL>
		<AIRPRESSURE>INHG</AIRPRESSURE>
	</UNITS>
	<FINALGLIDE_COMPUTER>
		<SAFETY_ALTITUDE UNIT="M">304.8</SAFETY_ALTITUDE>
		<MAC_CREADY UNIT="MPS">2.1</MAC_CREADY>
		<BUGS>0</BUGS>
		<BALLAST UNIT="KG">68.0</BALLAST>
	</FINALGLIDE_COMPUTER>

	<FINAL_GLIDE_INCLUDES_TERRAIN>TRUE</FINAL_GLIDE_INCLUDES_TERRAIN>
	<AUTOMATIC_WIND>TRUE</AUTOMATIC_WIND>

	<MAGNETIC_DECLINATION AUTO="TRUE">0</MAGNETIC_DECLINATION>

	<VARIO_FILTER_CONST>0.20</VARIO_FILTER_CONST>

	<USE_DEVICE_HEADING>TRUE</USE_DEVICE_HEADING>
	<DEFAULT_SECTOR_RADIUS UNIT="KM">0.50</DEFAULT_SECTOR_RADIUS>
	<DEFAULT_SECTOR_TYPES>
		<START_SECTOR>
			<SECTOR>
				<STARTRING>
					<RADIUS UNIT="KM">0.5</RADIUS>
				</STARTRING>
			</SECTOR>
		</START_SECTOR>
		<FINISH_SECTOR>
			<SECTOR>
				<FINISHRING>
					<RADIUS UNIT="KM">0.5</RADIUS>
				</FINISHRING>
			</SECTOR>
		</FINISH_SECTOR>
		<WPT_SECTOR>
			<SECTOR>
				<CYLINDER>
					<RADIUS UNIT="KM">0.5</RADIUS>
				</CYLINDER>
			</SECTOR>
		</WPT_SECTOR>
	</DEFAULT_SECTOR_TYPES>
	<DRAW_FREEROUTE_SECTORS>FALSE</DRAW_FREEROUTE_SECTORS>
	<AIRBORNE_SOG_THRESHOLD UNIT="KPH">15.0</AIRBORNE_SOG_THRESHOLD>
	<LANDING_SOG_THRESHOLD UNIT="KPH">10.0</LANDING_SOG_THRESHOLD>
	<LANDING_GND_ALT_THRESHOLD UNIT="M">100.0</LANDING_GND_ALT_THRESHOLD>
	<AUTO_PANHOME_SEC>0</AUTO_PANHOME_SEC>
	<MAPCLICK_CLOSES_CONTEXTMENU>FALSE</MAPCLICK_CLOSES_CONTEXTMENU>
	<MIN_VALID_FLIGHT_DURATION_SEC>60</MIN_VALID_FLIGHT_DURATION_SEC>
	<MAX_ASP_ALT_THRESHOLD>180</MAX_ASP_ALT_THRESHOLD>
	<NAVBOX_BIG_TEXT>FALSE</NAVBOX_BIG_TEXT>
	<AUTOMATIC_QNH_UPDATE>TRUE</AUTOMATIC_QNH_UPDATE>
	<TASKSTART_POPUP_DURATION>10.0</TASKSTART_POPUP_DURATION>
</BUTTERFLY>
